# macOS
.DS_Store
.AppleDouble
.LSOverride

# Xcode
build/
DerivedData/
*.xcuserdata
xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist

# Xcode - User-specific
*.xcuserstate
*.xcbkptlist
*.xcscmblueprint
*.xccheckout

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods (falls verwendet)
Pods/

# Archives & Build artifacts
*.ipa
*.dSYM.zip
*.dSYM
*.app
*.dmg

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
PORTFOLIO.md
PORTFOLIO_playSom.md
*.zip

# Added automatically to exclude sensitive files & secrets
.env
.env.*
*.env
*.pem
*.key
*.sqlite
decrypted_credentials.json
node_modules/
__pycache__/
